
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos del header (menu de navegacion)*/
header {
    background-color:#9f8ad0;
    position: relative;
}
.menu {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #9f8ad0;
    width: 100%;
    padding-right: 30px;
    justify-content: space-around;
}
.menu a {
    padding: 30px;
    text-decoration: none;
    color: black;
    transition: .5s;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.559);
    border-radius: 50%;
}

#barra-buscador {
    margin-left: 100px;
    height: 30px;
    width: 300px;
    border-radius: 4px;
    cursor:pointer;
}

#boton-buscador {
    width: 25px;
    height: 25px;
    margin-right: 50px;
}

/* div main y div form*/
main {
    height: 70vh;/*del 100% de la pantalla */
    background-image: linear-gradient(to top, rgba(178, 36, 239, 0.2) 0%, rgba(117, 122, 255, 0.2) 100%), url(../img/dormitorio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.main-div-soporte{
    margin-left: 600px;
    display: block;
    color:#ffffff;
    width: 460px; 
    height: auto;
    border-radius: 10px;  
    padding: 40px 40px 40px 40px;  
    background:linear-gradient(to top, rgba(172, 30, 233, 0.5) 0%, rgba(36, 43, 253, 0.5) 100%);
   
}

.flex-divrow-soporte, input, label {
    color: white;
    display: flex;   
    flex-direction: row-reverse;
    justify-content: space-around;
    border-radius: 7px;
    cursor: pointer; 
    padding: 5px;
    border: none;    
    

}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin:auto;
    padding: 60px 0;/*espaciado de los elementos*/
}

#boton{
    padding:2px;
    color:black;
}

/*formulario en si*/



input, select, textarea { /*formato general de los inputs*/
    width: 450px;
    height: 30px;
}


#mensaje { /*textarea pero aparte */
    height: 250px;
    border-radius: 5px;
}


/*Ventana emergente del login*/

.contenedor-popup {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    position: fixed;
    top: 250px;/*espacio entre header y footer */
    margin-bottom: 100px;/*espacio entre header y footer */
    margin-left: 550px;
    visibility: hidden; /*modificar con js*/
}


.ventana-emergente-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(197, 21, 21);
    border-radius: 5px;
    max-height: 180px;
}

.flex-divrow-popup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex-divrow-popup > p {
    margin-top: 20px;
    margin-right: 140px;

}

.flex-divrow-popup > button > img {
    width: 20px;
    height: 20px;
    
}

.flex-divrow-popup > a {
    padding-right: 7px;
}


/* estilos de footer solucionarlo*/
footer{
    background:#9f8ad0;
    padding-bottom: 0.1px;
}
.footer-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;

}
.contact-us{
    width: 40%;
    color:white;
}
.marca{
    font-weight: 500;
    font-size: 40px ;
}
.marca+p{
   font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}  
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height:60px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
}
.social-media-icon:hover{
    background: white;
    color:#7649a2;
}
.social-media-icon i{
    font-size: 30px;
    line-height:60px;    
}
#line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: white;
    margin-bottom: 60px;
    
}