body {
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    position: relative;
    margin-top: 5%;
    margin-left: 30%;
}
form {
    border: 3px solid #f1f1f1;
}

h2{
    text-align: center;
}

input[type=text], input[type=password], input[type=email], input[type=date], input[type=tel],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#contraseña, #nueva_contraseña, #confirmar_contraseña {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #012FB4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

div {
  padding: 16px;
}

p{
    text-align: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media  screen and (max-width: 650px) {
  body{
    width: 100%;
    margin-left: 0%;
  }
}